:root {
  font-family: system-ui, sans-serif;
  background: #ffffff;
  color: #213547;
}

body {
  margin: 20px;
}

.dark {
  background-color: #0f172a;
  color: #e5e7eb;
}

.dark table {
  background: #020617;
}

.dark th {
  background: #020617;
}
